{% extends "head.html" %}
{% block body %}
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top h-fix">
    <div class="container">
      <a class="navbar-brand font-weight-bold" href="{{ url_for('home') }}">Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav pl-2">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Главная
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active-lnk" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2">{{ current_user.name }}</span><img class="rounded-circle fit-small" src="{{ url_for('static', filename='avatars/' + current_user.avatar_id) }}" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('user', username=current_user.name) }}">Профиль</a>
              <a class="dropdown-item" href="{{ url_for('profile') }}">Настройки</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
			<!-- Profile Info -->
      <div class="col-sm-3">
        <div class="card py-2 mt-5 mb-3">
          <div class="text-center">
            <input type="image" id="main-pic" src="{{ url_for('static', filename='avatars/' + current_user.avatar_id) }}" class="rounded fit-big p-3" alt="avatar">
            <h2>{{current_user.name}}</h2>
            {% if current_user.role == 1 %}
            <p class="text-muted">Администратор</p>
            {% else %}
            <p class="text-muted">Пользователь</p>
            {% endif %}
            <form action="/profile", method="POST" enctype="multipart/form-data">
              {{ upload_ph.hidden_tag() }}
              {{ upload_ph.photo(style="display: none;") }}
              {{ upload_ph.submit(class="btn btn-success mx-auto", style="display: none;") }}
            </form>
          </div>
          </hr><br>
        </div>
        {% if current_user.role == 1%}
        <ul class="list-group">
          <li class="list-group-item text-muted">Статистика</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Поделились</strong></span>{{ current_user.shares  }}</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Лайки</strong></span>{{ current_user.likes_value  }}</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Посты</strong></span>{{ current_user.posts_value  }}</li>
        </ul>
        {% endif %}  
      </div>
      <!-- Settings -->
      <div class="col-lg-8 pt-5">
        <h2>Настройки</h2>
        <hr>
        <form class="form" action="/profile" method="post">
          <fieldset class="mb-2">
            <legend>О себе</legend>
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.username(class_="form-control", placeholder=form.username.label.text) }}
              {% for error in form.username.errors %}
              <p style="color: rgb(172, 0, 0);">{{ error }}</p>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.bio(class_="form-control", placeholder=form.bio.label.text) }}
            </div>
            <div class="form-group float-right">
              <button class="btn btn-outline-dark" type="reset">Сбросить</button>
              {{ form.submit(class='btn btn-success') }}
            </div>
          </fieldset>
        </form>
        <form class="form" action="/profile" method="post">
          <fieldset>
            <legend>Изменить пароль</legend>
            {{ password_form.hidden_tag() }}
            <div class="form-group">
              {{ password_form.password(class_="form-control", placeholder=password_form.password.label.text) }}
              {% for error in password_form.password.errors %}
              <p style="color: rgb(172, 0, 0);">{{ error }}</p>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ password_form.password_old(class_="form-control", placeholder=password_form.password_old.label.text) }}
              {% for error in password_form.password_old.errors %}
              <p style="color: rgb(172, 0, 0);">{{ error }}</p>
              {% endfor %}
            </div>
            <div class="form-group float-right">
              <button class="btn btn-outline-dark" type="reset">Сбросить</button>
              {{ password_form.submit(class='btn btn-success') }}
            </div>
          </fieldset>
        </form>
			</div>
			
    </div>
  </div>
  </div>

  <script>
    $("input[type='image']").click(function() {
    $("input[id='profile_image']").click();
    });
    document.getElementById('profile_image').onchange = function (evt) {
    var tgt = evt.target || window.event.srcElement,
    files = tgt.files;
    
    // FileReader support
    if (FileReader && files && files.length) {
    var fr = new FileReader();
    fr.onload = function () {
    	document.getElementById("main-pic").src = fr.result;
    	document.getElementById("apply-btn").style.display = "block";
    }
    fr.readAsDataURL(files[0]);
    }
    
    // Not supported
    else {
    // fallback -- perhaps submit the input to an iframe and temporarily store
    // them on the server until the user's session ends.
    }
    }
  </script>

</body>
{% endblock %}
