{% extends "head.html" %}

{% block body %}
<body class="gradient">
      <div class="container">
         <a href="{{ url_for('home') }}" class="btn btn-outline-dark">На Главную</a>
         <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
               <div class="card card-signin my-5 white">
                  <div class="card-body">
                     <h5 class="title pb-3">Вход</h5>
                     <form action="/login" method="POST" class="needs-validation">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                           {{ form.username(class="form-control py-2", placeholder=form.username.label.text) }}
                           {% for error in form.username.errors %}
                           <span style="color: rgb(172, 0, 0);">{{ error }}</span>
                           {% endfor %}
                           <div class="invalid-feedback">Please provide a valid username.</div>
                        </div>
                        <div class="form-group">
                           {{ form.password(class="form-control py-2", placeholder=form.password.label.text) }}
                           {% for error in form.password.errors %}
                           <span style="color: rgb(172, 0, 0);">{{ error }}</span>
                           {% endfor %}
                           <div class="invalid-feedback">Please provide a valid password.</div>
                        </div>
                        <div class="form-group pl-4">
                           {{ form.remember(class="form-check-input py-2") }}
                           <label class="form-check-label" for="remember">{{ form.remember.label.text }}</label>
                           {% for error in form.password.errors %}
                           <span style="color: rgb(172, 0, 0);">{{ error }}</span>
                           {% endfor %}
                           <div class="invalid-feedback">Please provide a valid password.</div>
                        </div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <p>{{messages[0]}}</p>
                        {% endif %}
                        {% endwith %}
                        {{ form.submit(class_="btn btn-success btn-block") }}
                     </form>
                    
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
   

   {% endblock %}
